@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #17181c;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

.title-wrapper {
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}
.title {
  font-family: "Kode Mono", monospace;
  margin: 10%;
  color: #ffffff;
  font-size: 5rem;
  width: 16ch;
  animation: typing 2s steps(16), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.5rem solid;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.menue-container {
  color: #ffffff;
  display: flex;
  justify-content: center;
  /* background-color: #000000; */
  border-radius: 2rem;
  /* margin: 3%;
  padding: 1%; */
  flex-wrap: wrap;
  float: left;
}

.chart-container {
  color: #ffffff;
  display: flex;
  justify-content: center;
  /* background-color: #000000; */
  border-radius: 2rem;
  /* margin: 3%;
  padding: 1%; */
  flex-wrap: wrap;
  float: left;
  position: relative;
}

.container-wrapper {
  width: 100%;
}

.board {
  float: right;
  width: 90%;
}

.chart {
  width: 90%;
}

.container.board {
  height: 20%;
  display: flex;
  flex-direction: column;
  float: right;
}

.container.chart {
  height: 80%;
}

.nav-bar {
  width: 10%;
  height: 100%;
  position: fixed;
  float: left;
  background-color: #000000;
}

.menue-content {
  float: left;
  padding: 0.6rem;
  margin: 1rem;
  /* border: 0.1rem solid;
  border: 0.1rem solid transparent; */
  border-radius: 2rem;
  /* border-color: rgba(255, 255, 255, 0.2); */
  /* background-origin: border-box;
  background-clip: padding-box, border-box; */
  /* width: 2vw;
  height: 10vh; */
  cursor: pointer;
  /* background-color: var(--neon-border-color); */
  /* animation: flicker-box 1.5s infinite alternate; */
}

.chart-content {
  /* float: left; */
  padding: 0.6rem;
  margin: 1rem;
  z-index: -1;
  /* border: 0.1rem solid;
  border: 0.1rem solid transparent; */
  border-radius: 2rem;
  /* border-color: rgba(255, 255, 255, 0.2); */
  /* background-origin: border-box;
  background-clip: padding-box, border-box; */
  width: 2vw;
  height: 10vh;
  cursor: pointer;
  /* background-color: var(--neon-border-color); */
  /* animation: flicker-box 1.5s infinite alternate; */
}

.menue-content:hover {
  background-color: var(--neon-border-color);
  /* animation: flicker-box 1.5s infinite alternate; */
}

.chain-name {
  float: right;
  font-size: 1rem;
  /* font-size: 0.1rem; */
  /* word-break: break-all; */
  width: inherit;
  /* margin: 10px; */
  /* text-transform: uppercase; */
  /* animation: flicker 1.5s infinite alternate; */
}

.current-gas {
  font-size: 0.5rem;
}

.ethereum {
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(to bottom right, #0060fd, #03e6c8, #1804f0);
  --neon-text-color: #03e6c8;
  --neon-border-color: #03e6c8;
}

.avalanche {
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(to bottom right, #fd8300, #eb0000, #f32965);
  --neon-text-color: #fd3300;
  --neon-border-color: #fd3300;
}

.polygon {
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(to bottom right, #9500c2, #ad62f2, #d414f2);
  --neon-text-color: #c200fd;
  --neon-border-color: #c200fd;
}

.bnb {
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(to bottom right, #fdbe00, #f3ff05, #f23614);
  --neon-text-color: #fdfd00;
  --neon-border-color: #fdfd00;
}

.arbitrum {
  background-image: linear-gradient(#000000, #000000),
    linear-gradient(to bottom right, #c0c1ff, #0d048e, #537cee);
  --neon-text-color: #537cee;
  --neon-border-color: #537cee;
}

.chain-name::-moz-selection {
  /* background-color: var(--neon-border-color); */
  color: var(--neon-text-color);
}

.chain-name::selection {
  /* background-color: var(--neon-border-color); */
  color: var(--neon-text-color);
}

.chain-name:focus {
  outline: none;
}

/* Animate neon flicker */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff,
      0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color),
      0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color),
      0 0 10rem var(--neon-text-color);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
    box-shadow: none;
  }
}

/* @keyframes flicker-box {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.1rem #fff,
      0 0 0rem var(--neon-border-color), inset 0 0 0rem var(--neon-border-color),
      0 0 1rem var(--neon-border-color), inset 0 0 1rem var(--neon-border-color);
  }
} */
