@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: #17181c;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.container-wrapper {
  width: 100%;
}

.board {
  float: right;
  width: 90%;
}

.chart {
  width: 90%;
}

.control-unit {
  float: right;
}

.container.board {
  height: 20%;
  display: flex;
  flex-direction: column;
  float: right;
}

.container.chart {
  height: 80%;
}

.nav-bar {
  width: 10%;
  height: 100%;
  position: fixed;
  float: left;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.chart-content {
  /* float: left; */

  padding: 1rem;
  margin: 1rem;

  background-color: #000000;
  /* border: 0.1rem solid;
  border: 0.1rem solid transparent; */
  border-radius: 2rem;
  /* border-color: rgba(255, 255, 255, 0.2); */
  /* background-origin: border-box;
  background-clip: padding-box, border-box; */
  width: 37vw;
  cursor: pointer;
  /* background-color: var(--neon-border-color); */
  /* animation: flicker-box 1.5s infinite alternate; */
}

.current-gas {
  font-size: 0.5rem;
}

.main-chart {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.main-chart-content {
  margin-bottom: 2vh;
  margin-top: 6vh;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  color: white;
  width: 80vw;
  height: 60vh;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.gas-view-title {
  font-size: max(2vw, 1.1rem);

  padding-left: min(5%, 1rem);
  padding-top: min(2%, 0.7rem);
  margin: 0;
}

.gas-view-title-sm {
  font-size: max(1.4vw, 0.8rem);
  padding-left: min(5%, 1rem);
  padding-top: min(2%, 0.7rem);
  margin: 0;
}

.sub-chart {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.sub-chart-content {
  float: left;
  margin: 0.5vw;
  margin-bottom: 6vh;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  color: white;
  width: 38vw;
  height: 40vh;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.home-chart-content {
  margin: 1vw;
  z-index: -1;
  float: left;
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
  color: white;
  width: 37vw;
  padding: 2%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s linear;
}

.home-chart-container {
  padding: 2.5%;
}

.home-chart-content:hover {
  transform: scale(1.03);
}
