.board-container.menue {
  background-color: #000000;
}

.menue-container-left {
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  /* background-color: #000000; */

  /* padding: 1%; */
  flex-wrap: wrap;
  float: left;
}

.menue-container-right {
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  float: right;
}

.menue-content {
  float: left;
  padding: clamp(5px, 0.6rem, 10px);
  margin: clamp(5px, 1rem, 10px);
  /* border: 0.1rem solid;
    border: 0.1rem solid transparent; */

  /* border-color: rgba(255, 255, 255, 0.2); */
  /* background-origin: border-box;
    background-clip: padding-box, border-box; */
  /* width: 2vw;
    height: 10vh; */
  cursor: pointer;
  /* background-color: var(--neon-border-color); */
  /* animation: flicker-box 1.5s infinite alternate; */
}

.menue-content:hover {
  background-color: #111113;
}

.menue-content:active {
  background-color: #111113;
}

.menue-content:hover {
  background-color: var(--neon-border-color);
  /* animation: flicker-box 1.5s infinite alternate; */
}
.chain-name {
  float: right;
  font-size: max(1.3vw, 0.9rem);
  /* font-size: 0.1rem; */
  /* word-break: break-all; */
  width: inherit;
  /* margin: 10px; */
  /* text-transform: uppercase; */
  /* animation: flicker 1.5s infinite alternate; */
}

.chain-name::-moz-selection {
  /* background-color: var(--neon-border-color); */
  color: var(--neon-text-color);
}

.chain-name::selection {
  /* background-color: var(--neon-border-color); */
  color: var(--neon-text-color);
}

.chain-name:focus {
  outline: none;
}
